# Generated outputs
rustico_properties.sqlite
index_files/
rustico_properties.csv

# R
.Renviron
.Rhistory
.Rproj.user/
.Rdata

# Logs
*.log
data/AMTOVZ_GDB_LV95.gdb/
data/swissBOUNDARIES3D_1_5_LV95_LN02.gpkg
